# platform specific settings for Linux

# where you want everything
[install]
RAD_BASEDIR:   c:\program files\radiance3.6a
RAD_BINDIR:    bin
RAD_RLIBDIR:   share\lib
RAD_MANDIR:    share\man

# shouldn't need any changes
[build]
CC:         gcc
CPPDEFINES: freebsd HDSUF=.exe
CCFLAGS:    -O2

[debug]
CC:         gcc
CPPDEFINES: freebsd HDSUF=.exe
CCFLAGS:    -g

# never touch below this
[code]
RAD_MATHCOMPAT: erf.c
RAD_NETCOMPAT: netproc.c
RAD_PROCESS: unix_process.c
RAD_MLIB:   m

