#share/ platform specific settings for Linux

# where you want everything
[install]
RAD_BASEDIR:   c:\radiance3.6a
RAD_BINDIR:    bin
RAD_RLIBDIR:   share\lib
RAD_MANDIR:    share\man

# shouldn't need any changes
[build]
CPPFLAGS:  /nologo /D "_WIN32" /D "NDEBUG" /D "_CONSOLE" /D "_MBCS"
CCFLAGS:   /nologo /G6 /W3 /GX /O2 /YX /FD /c

# never touch below this
[code]
RAD_SPEED: -DSPEED=200 -DHDSUF=.exe
RAD_COMPAT:  bmalloc.c fixargv0.c erf.c
RAD_PROCESS: win_process.c win_popen.c

